

/* ----------------------NAVBAR:START---------------------- */

nav {
  margin-top: 25px;
  text-align: center;
  height: 40px;
  -webkit-user-select: none;
}

nav ul {
  padding: 0 0 0 0;
}

nav li {
  display: inline;
  margin: 0 25px 0 0;
  font-weight: bold;
  font-size: 14px;
}

nav li:last-child {
  margin: 0;
}

nav a {
  color: rgba(7, 7, 7, 0.5);
  text-decoration: none;
  border-style: solid;
  border-width: 0 0 0 0;
  -webkit-border-image:
    -webkit-linear-gradient(left, rgba(255, 52, 111, 1.0), rgba(255, 116, 62, 1.0)) 100% 1;
  transition: all 0.2s ease;
}

nav #logo {
  font-weight: 900;
  font-size: 20px;
  padding: 0 0 0 1px;
  line-height: 14px;
  background: -webkit-linear-gradient(135deg, #FF346F, #FF743E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav a:hover {
  color: rgba(7, 7, 7, 1);
  border-style: solid;
  border-width: 10px 0 0 0;
  -webkit-border-image:
    -webkit-linear-gradient(left, rgba(255, 52, 111, 1.0), rgba(255, 116, 62, 1.0)) 100% 1;
  transition: all 0.4s ease;
}

li#contact {
  position: absolute;
  right: 70px;
  background: -webkit-linear-gradient(135deg, #FF346F, #FF743E, #FF346F, #FF743E);
  background-size: 400% 400%;
  animation: background 15s infinite;
  padding: 7px 12px;
  border-radius: 30px;
  transition: all 0.4s ease;
}

@keyframes background {
    0%, 100% {
      background-position: top center
    }
    50% {
      background-position: bottom center
    }

}

a#contact {
  color: rgba(255, 255, 255, 1.0);
  font-weight: 600;
}

a#contact:hover {
  border-style: solid;
  border-width: 0 0 0 0;
  -webkit-border-image:
    -webkit-linear-gradient(left, rgba(255, 52, 111, 1.0), rgba(255, 116, 62, 1.0)) 100% 1;
}

li#contact:hover {
  border-radius: 10px;
  transition: all 0.4s ease;
}

a#logo:hover {
  color: rgba(7, 7, 7, 1);
  border-style: solid;
  border-width: 0 0 0 0;
  -webkit-border-image:
    -webkit-linear-gradient(left, rgba(255, 52, 111, 1.0), rgba(255, 116, 62, 1.0)) 100% 1;
  transition: all 0.4s ease;
}

/* ----------------------NAVBAR:END---------------------- */



/* ----------------------TYPOGRAPHY:START---------------------- */

h1 {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

h3 {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

h4 {
  font-size: 20px;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

h5 {
  font-size: 15px;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

h6 {
  font-size: 16px;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

p.introduction {
  font-size: 18px;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

p {
  font-size: 14px;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

p.sub {
  font-size: 11px;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

cite {
  font-size: 35px;
  margin: 0;
  margin-bottom: var(--spacing-xs);
}

/* ----------------------TYPOGRAPHY:END---------------------- */



/* ----------------------MEDIA:START---------------------- */

img {
    pointer-events: none;
    -webkit-user-select: none;
}

video {
  pointer-events: none;
  -webkit-user-select: none;
}

/* ----------------------MEDIA:END---------------------- */



/* ----------------------WRAPPER:START---------------------- */

div.flex-row-wrapper {
  display: flex;
  flex-direction: row;
}

div.flex-column-wrapper {
  display: flex;
  flex-direction: column;
}

div.inline-wrapper {
  display: inline;
}

.wrap {
  flex-wrap: wrap;
}

/* ----------------------WRAPPER:END---------------------- */



/* ----------------------PREVIEW-ITEMS:START---------------------- */

.preview a {
  display: flex;
  flex-direction: column;
  color: #313131;

  padding: 11px 11px 20px 11px;
  border-radius: 50px 50px 15px 15px;
}

.preview div {
  margin: 20px 0 0 0;
  max-width: 300px;
  width: 20vw;
}

.preview p {
  margin-right: 20px;
}

.preview a:hover {
  border: none;
  color: #000;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
}

.preview img {
  width: 20vw;
  height: auto;
  max-width: 300px;
  min-width: 150px;
  pointer-events: visible;
  border-radius: 40px;
}


/* ----------------------PREVIEW-ITEMS:END---------------------- */



/* ----------------------FOOTER:START---------------------- */

footer {
  margin: 100px 50vw 100px 0;
  padding: 40px;
  background-color: #FFF;
  border-radius: 65px;
  box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.2);
}

/* ----------------------FOOTER:END---------------------- */



/* ----------------------NEWSLETTER-FORM:START---------------------- */

div.newsletter-form {
  width: 100%;
  padding: 10px 0 0 0;

}

div#mc_embed_signup {
  background-color: rgba(0, 0, 0, 0.0);
}

/* ----------------------NEWSLETTER-FORM:END---------------------- */



/* ----------------------OTHER-CLASSES:START---------------------- */

.placeholder {
  opacity: 0.0;
}

.hide {
  display: none;
}

/* ----------------------OTHER-CLASSES:END---------------------- */
