
html {
  font-family: "Avenir Next", sans-serif;
  color: var(--textcolor);
  background-color: var(--backgroundcolor);
  overflow-y: hidden;
}

body {
  margin: 0 5vw 0 5vw;
}

section {
  max-width: 1300px;
  margin: 70px auto;
}

section:first-child {
  margin: 25px auto;
}

.margin {
  margin: 0 5vw 0 5vw;
}

.full-width {
  margin: 0 -5vw 0 -5vw;
}


/* ----------------------VARIABLES:START---------------------- */

:root {

  /* ----------------------Spacing---------------------- */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 32px;
  --spacing-l: 64px;
  --spacing-xl: 128px;

  /* ----------------------Layer-Styles---------------------- */
  --radius-s: 20px;
  --radius-m: 30px;
  --radius-l: 50px;

  /* ----------------------Colors---------------------- */
  --gradient: -webkit-linear-gradient(left, rgba(255, 52, 111, 1.0), rgba(255, 116, 62, 1.0)) 100% 1;
  --textcolor: #313131;
  --backgroundcolor: #F2F2F2;
  --textaccent: #F46C6A;

}

/* ----------------------VARIABLES:END---------------------- */


/* ----------------------TYPOGRAPHY:START---------------------- */

@font-face {
  font-family: "Abril Fatface";
  src: url(../../../Assets/Fonts/AbrilFatface-Regular.ttf);
}

.serif {
  font-family: "Abril Fatface";
}

h1 {
  font-weight: 900;
  text-transform: uppercase;

  color: #000;
}

h2 {
  font-weight: 900;
  line-height: 30px;

}

h3 {
  font-weight: 700;

}

h4 {
  font-weight: 400;

}

h5 {
  font-weight: 900;
  text-transform: lowercase;

  opacity: 0.5;
}

h6 {
  font-weight: 400;
  text-transform: lowercase;

  opacity: 0.5;
}

em {
  border-style: solid;
  border-width: 0 0 3px 0;
  -webkit-border-image:
    -webkit-linear-gradient(left, rgba(255, 52, 111, 1.0), rgba(255, 116, 62, 1.0)) 100% 1;
}

p.introduction {
  font-weight: 400;
  text-align: left;

  opacity: 0.90;
}

p {
  font-weight: 400;
  text-align: left;

  opacity: 0.85;
}

p.sub {
  font-weight: 400;
  text-align: left;
  opacity: 0.5;

}

cite {
  font-family: "Big Caslon", serif;
  font-style: normal;
  margin: 30px 0;
}

a {
  color: #313131;
  text-decoration: none;
  transition: all 0.4s ease;
}

/* ----------------------TYPOGRAPHY:END---------------------- */



/* ----------------------CARD-STYLE:START---------------------- */

.card {
  background-color: #FFF;
  height: 500px;
  border-radius: 50px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: all 0.2s ease;
  margin-bottom: 30px;
}

.card.link:hover {
  margin-top: -3px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.4s ease;
}

.card-inset {
  margin: 40px;
  margin-bottom: 0;
}

/* ----------------------CARD-STYLE:END---------------------- */
