/* Main */

html {
	background-image: url(starss.png);
	background-color: #000;
	font-family: Kefa, Georgia;
	margin: 0 0 0 0;
}

h1 {
	font-size: 90px;
	color: #FFFFFF;
	margin-top: 60px;
	margin-bottom: 110px;
	font-style: bold;
	text-align: center;
}

h1 em {
	font-size: 160px;
	color: #FFFFFF;
	font-style: normal;
	font-style: bold;
	margin-top: 60px;
	margin-bottom: 110px;
}

.storiesCard {
	display: flex;
	color: #FFFFFF;
	text-decoration: none;
}