/* Main */

html {
	font-family: Kefa, Georgia;
	margin: 0 0 0 0;
}

nav {
	display: flex;
	flex-direction: row;
	background-color: #141D26;
	padding: 10px 10px 10px 10px;
	margin: 0 0 0 0;
}

nav li {
	margin: 0px auto 0px auto;
	color: #000;
	list-style: none;
}

nav a {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 5;
	flex-shrink: 5;
	margin: 0 20px 0 20px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 36px;
}

a:hover {
	color: #828282;
}

a {
	background-image: url("Stories Image.jpg");
}

.header {
	display: flex;
	color: #FFFFFF;
	font-size: 144px;
	text-decoration: none;
}

#description {
	display: flex;
	color: #FFFFFF;
	font-size: 60px;
}