html {
  background-color: #F2F2F2;
}

body {
  margin-bottom: 100px;
}

div#body {
  margin: 50px 5vw 0 5vw;
}

section {
  max-width: 1300px;
  margin: 0 auto;
}

div.flex-row-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
}

div.card {
  background-color: #FFF;
  height: 500px;
  border-radius: 65px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: all 0.2s ease;
  margin-bottom: 30px;
}

div.card.link:hover {
  margin-top: -3px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}

div.card-inset {
  margin: 40px;
  margin-bottom: 0;
}

div.primary {
  width: 64%;
  flex-grow: 3;
}

div.divider {
  width: 2%;
}

div.newsletter {
  width: 34%;
  min-width: 300px;
  flex-grow: 1;
}

div.card-square {
  position: relative;
  width: 32%;
  padding-top: 32%;
  height: 0;
}

div.card-inset.square {
  position: absolute;
  top: 0;
}

div.news-primary {
  width: 100%;
}

h1 {
  margin: 5px 0;
  color: #000;
  transition: all 0.4s ease;
}

h1.section {
  margin: 40px 0 25px 0;
}

h2.square {
  margin: 2px 0 20px 0;
}

h1.news {
  width: 50%;
}

h3 {
  margin: 30px 0 0 5vw;
}

p.news {
  width: 50%;
}

img {
  width: 100%;
  height: auto;
}
