body {
  margin: 0;
}

section.right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px 0 0 0;
}

section.left {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 100px 0 0 0;
}

section.right:first-child {
  margin: 50px 0 0 0;
}

div.text-primary {
  display: flex;
  flex-direction: row;
  width: 50vw;
}

div.text-secondary {
  display: flex;
  flex-direction: column;
  margin: auto;
}

div.image {
  display: flex;
  width: 50vw;
  flex-direction: column;
}

div.image-secondary {
  display: flex;
  width: 50vw;
  flex-direction: column;
  margin: auto;
}

h2.section-header {
  display: flex;
  margin: 0;
  align-self: center;
}

p {
  display: flex;
  max-width: 500px;
  width: 60%;
  color: rgba(7, 7, 7, 0.5);
  margin: 0 auto 0 auto;
}

img {
  margin: auto;
  width: 50vw;
  height: auto;
  object-fit: contain;
  align-self: flex-end;
  -webkit-user-select: none;
}
