body {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 70px 0 0 0;
}

section:first-child {
  margin: 30px 0 0 0;
}

div.text-primary {
  display: flex;
  flex-direction: row;
}

div.text-secondary {
  display: flex;
  flex-direction: column;
  margin: 0 10vw 0 10vw;
}

div.image {
  display: flex;
  flex-direction: column;
}

div.image-secondary.left {
  display: flex;
  flex-direction: row;
}

h2.section-header {
  display: flex;
  margin: 30px 0 0 0;
  align-self: center;
}

p {
  display: flex;
  max-width: 500px;
  color: rgba(7, 7, 7, 0.5);
  margin: 0 5vw 0 5vw;
}

img {
  width: 97vw;
  height: auto;
  overflow: hidden;
  object-fit: contain;
  align-self: flex-end;
}

img.right {
  transform: scaleX(-1);
}

img.full {
  width: 100vw;
}
