div#white-background {
  background-color: #F8F8F8;
  padding: 20px 0 50px 0;
  margin-top: 60vh;
}

.flex-row-wrapper {
  margin-left: -11px;
}

video {
  width: auto;
  height: 100vh;
  min-width: 100vw;
  min-height: 642px;
  position: fixed;
  z-index: -100;
  top: 0;
}
