section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 5vw 0 5vw;
}

nav {
  position: absolute;
  width: 100vw;
}

img {
  width: 20vw;
  height: auto;
  max-width: 300px;
  min-width: 150px;
  margin: 20px 20px 20px 0px;
}

img.herogif {
  display: block;
  width: 100%;
  max-width: 1800px;
  height: auto;
  margin: 0 auto 0 auto;
}
