section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 5vw 0 5vw;
}

nav {
  position: absolute;
  width: 100vw;
}

li#contact {
  top: 0px;
}

div.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.description {
  margin: 20px auto 0 5px;
  max-width: 300px;
  width: 20vw;
}

h3 {
  margin: 0;
}

p {
  margin: 0 40px 0 0;
}

a.content {
  display: flex;
  flex-direction: column;
  color: #313131;

  margin: 20px 20px 20px 0px;
}

a.content:hover {
  border: none;
}

img {
  width: 20vw;
  height: auto;
  max-width: 300px;
  min-width: 150px;

  border-radius: 39px;
}

img.herogif {
  display: block;
  width: 100%;
  max-width: 1800px;
  height: auto;
  margin: 0 auto 0 auto;

  border-radius: 0px;
}
