html {
  background-color: #FFF;
}

/*----------------------Featured-Section----------------------*/

#featured div.half {
  width: 50%;
}

#featured div.image {
  margin-right: var(--spacing-xl);
}

#featured .ornament {
  width: 65px;
  height: 6px;
  background-image: var(--primary-gradient);
  border-radius: 10px;
  margin-bottom: var(--spacing-xxs);
}

#featured img {
  width: 100%;

}


/*----------------------Collections-Section----------------------*/

section#collections {
  margin-right: -5vw;
  margin-left: -5vw;
  max-width: none;
  background-color: #000014;
  color: #FFF;
}

#collections .flex-row-wrapper.collections {
  justify-content: space-between;
}

#collections #center {
  margin: 0 auto;
  max-width: 1300px;
}

#collections .collection {
  width: 30%;
}

#collections a:hover img#square {
  transform: scale(1.05);
  height: auto;
  transition: 0.4s all ease;
}

#collections a:hover h2 {
  color: #F46C6A;
  transition: 0.4s all ease;
}

#collections a:hover img:not(#square) {
  width: 125%;
  height: auto;
  transition: 0.4s all ease;
}

#collections .icon-background {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-image: linear-gradient(0deg, #25095B 0%, #241C8B 100%);
  border-radius: var(--medium-radius);
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#collections .background {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 65%;
}

#collections img#square {
  width: 100%;
  height: auto;
  transition: 0.4s all ease;
}

#collections img:not(#square) {
  width: 120%;
  height: auto;
  transition: 0.4s all ease;
}

#collections div.background:not(#square) {
  left: 0;
}

#collections h1 {
  padding-top: var(--spacing-xxl);
  margin-bottom: var(--spacing-x);
  color: #FFF;
}

#collections h2 {
  font-size: 30px;
  line-height: 30px;
  color: #FFF;
  transition: 0.4s all ease;
}

#collections p.introduction {
  opacity: 0.5;
  color: #FFF;
  margin-bottom: 0;
}

#collections .text {
  margin: var(--spacing-x) 0 var(--spacing-xxxl) var(--spacing-xxxs);
}


/*----------------------Latest-Section----------------------*/

#latest img.large {
  width: 296px;
  height: 296px;
  border-radius: var(--medium-radius);
}

#latest img.small {
  width: 140px;
  height: 140px;
  border-radius: var(--medium-radius);
  margin: 0 var(--spacing-xs) var(--spacing-xs) 0;
}

#latest .flex-row-wrapper.small {
  margin-left: var(--spacing-xs);
  align-self: flex-end;
}
