:root {
    --background: #000000;

    --seperator: rgba(255,255,255,0.12);

    --text: #FFFFFF;

    --block-border: #404040;
    --block-shadow: #000;
    --block-background: #151017;
}

code {
    --keyword: #F72057;
    --type: #FF9519;
    --call: #FF5700;
    --property: #FF5700;
    --number: #F72057;
    --string: #F72057;
    --comment: #FFFFFF;
    --dot-access: #FF5700;
    --preprocessing: #646485;
}
