:root {
    --background: #FFFEFD;

    --seperator: #EFEEED;

    --text: #252525;

    --block-border: #D3D3D3;
    --block-shadow: rgba(0,0,0,0.04);
    --block-background: #FFFFFF;
}

code {
    --keyword: #F72057;
    --type: #FF9519;
    --call: #FF5700;
    --property: #FF5700;
    --number: #F72057;
    --string: #F72057;
    --comment: #000000;
    --dot-access: #FF5700;
    --preprocessing: #646485;
}

table {
    --tr-background: rgba(0,0,0,0.03);
    --alernating-background: rgba(0,0,0,0.01);
}
