body {
    margin: 0 50px;
}

footer {
    .groups {
        flex-wrap: wrap;
        max-width: none;
        width: auto;

        .group {
            margin-bottom: 28px;
            margin-right: 44px;
        }
    }
}

@media (max-width: 900px) {
    nav {

    }

    article {
        margin-top: 32px;

        .article-header {
            margin-bottom: 32px;
        }

        blockquote {
            padding: 18px 20px;
        }
    }

    footer {
        .links {
            flex-direction: column;
        }

        .groups {
            margin: 0 !important;
            margin-top: 44px !important;
        }

        #publish-link {
            margin: 0 !important;
            text-align: left !important;
        }
    }
}

@media (max-width: 500px) {
    body {
        margin: 0 20px;
    }

    nav {
        margin: 28px 0 18px 0;

        img {
            width: 52px;
            height: auto;
        }

        li:not(:last-child) {
            margin-right: 12px !important;
        }

        a {
            font-size: 20px !important;
        }

        .honey-link {
            padding: 5px 11px;
        }
    }

    article {
        .date {
            margin: 24px 0 !important;
        }

        p {
            font-size: 22px;
            line-height: 34px;

            code {
                font-size: 16px;
                padding: 4px 8px;
            }
        }

        code {
            font-size: 14px;
        }
    }
}
