/*------------------------------------------------------------------------------
General
*/
body {
  margin: 0 auto;
  margin-bottom: 12vh;
  max-width: 1200px;
  min-height: 88vh;
  background: var(--background);
  color: var(--text);
}

main {
  margin: 88px auto;
  max-width: 700px;
}

.article-header {
  margin-bottom: 64px;
}

.seperator, article hr {
  border-bottom: 4px solid var(--seperator);
}

nav, footer {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Opera and Firefox */
}
nav a, footer a {
  -webkit-touch-callout: all;
  /* iOS Safari */
}

.logo, nav img, footer img {
  opacity: 1;
  border-radius: 0;
  box-shadow: none;
  width: 64px;
  height: 32px;
  margin: 0;
  padding: 0;
}

body[theme=dark] .logo {
  filter: invert(100%);
}

a {
  color: var(--text);
  -webkit-touch-callout: contain !important;
  /* iOS Safari */
}

/*------------------------------------------------------------------------------
Markdown
*/
article {
  font-family: "TextaAlt";
}
article h1 {
  font-size: 58px;
  font-weight: 800;
  margin: 0;
}
article h2 {
  font-size: 36px;
  font-weight: 800;
  margin: 64px 0 36px 0;
  padding-bottom: 16px;
  border-bottom: solid 2px var(--seperator);
}
article h3 {
  font-size: 28px;
  font-weight: 800;
  margin: 54px 0 28px 0;
}
article h4, article h5, article h6 {
  font-size: 24px;
  font-weight: 700;
  margin: 40px 0 18px 0;
}
article hr {
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 64px 0;
}
article figure {
  margin: 0 0 36px 0;
  padding: 0;
}
article figure img {
  background: var(--block-background);
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 var(--block-shadow), 0 0 0 1px var(--block-border);
  margin: 0;
  width: 100%;
  height: auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  article figure img {
    box-shadow: 0 10px 20px 0 var(--block-shadow), 0 0 0 0.5px var(--block-border);
  }
}
article figure figcaption {
  opacity: 0.6;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  font-style: normal;
}
article .date {
  display: inline-block;
  opacity: 0.6;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0;
  text-align: right;
  margin: 24px 0 32px 0;
}
article p {
  font-family: serif;
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 36px 0;
  color: var(--text);
  vertical-align: top;
}
article p code {
  font-family: monospace;
  font-size: 18px;
  color: #F72057;
  padding: 4px 10px;
  background: var(--block-background);
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 var(--block-shadow), 0 0 0 1px var(--block-border);
  -webkit-touch-callout: all;
  /* iOS Safari */
  -webkit-user-select: all;
  /* Safari */
  -khtml-user-select: all;
  /* Konqueror HTML */
  -moz-user-select: all;
  /* Old versions of Firefox */
  -ms-user-select: all;
  /* Internet Explorer/Edge */
  user-select: all;
  /* Non-prefixed version, currently
  supported by Chrome, Opera and Firefox */
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  article p code {
    box-shadow: 0 10px 20px 0 var(--block-shadow), 0 0 0 0.5px var(--block-border);
  }
}
article p a {
  border-bottom: 3px solid #FF9519;
  text-decoration: none;
}
article blockquote {
  margin: 0 0 36px 0;
  padding: 24px 44px 24px 35px;
  opacity: 0.9;
  border-radius: 8px;
  border-left: 9px solid #FF9519;
  background: var(--block-background);
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 var(--block-shadow), 0 0 0 1px var(--block-border);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  article blockquote {
    box-shadow: 0 10px 20px 0 var(--block-shadow), 0 0 0 0.5px var(--block-border);
  }
}
article blockquote p {
  margin: 0;
}
article table {
  font-size: 18px;
  background: var(--block-background);
  box-shadow: 0 10px 20px 0 var(--block-shadow);
  border-spacing: 0;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  position: relative;
  z-index: 99;
}
article table td, article table th {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
  text-align: left;
}
article table code {
  font-size: 16px;
}
article table th:first-child {
  border-radius: 8px 0 0 0;
}
article table th:last-child {
  border-radius: 0 8px 0 0;
}
article table td:first-child, article table th:first-child {
  border-left: none;
}
article table th {
  border-top: none;
  background-color: var(--tr-background);
}
article table tr:nth-child(even) {
  background-color: var(--alernating-background);
}
article table tr:first-child th:first-child {
  border-radius: 0 0 0 8px;
}
article table tr:first-child th:last-child {
  border-radius: 8px 0 0 0;
}
article table tr:last-child th:first-child {
  border-radius: 0 0 8px 0;
}
article table tr:last-child th:last-child {
  border-radius: 0 8px 0 0;
}

/*------------------------------------------------------------------------------
Navbar
*/
nav {
  display: flex;
  text-align: center;
  margin: 44px 0 28px 0;
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
}
nav ul li {
  display: inline;
}
nav ul li:not(:last-child) {
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  font-weight: 700;
  opacity: 0.5;
  font-family: "TextaAlt";
  font-size: 24px;
}
nav a.selected {
  font-weight: 800;
  opacity: 1;
}
nav .honey-link {
  position: relative;
  color: #FF9519;
  background: rgba(255, 149, 25, 0.1);
  border-radius: 8px;
  padding: 7px 14px;
  opacity: 1;
  transition: background 0.4s;
}
nav .honey-link:hover {
  background: rgba(255, 149, 25, 0.2);
}

/*------------------------------------------------------------------------------
Footer
*/
footer {
  margin-top: 256px;
  margin-bottom: 32px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer .seperator, footer article hr, article footer hr {
  margin-bottom: 32px;
}
footer .links {
  display: flex;
  justify-content: flex-start;
}
footer .links * {
  font-family: "TextaAlt";
  font-weight: 700;
  font-size: 20px;
}
footer a {
  text-decoration: none;
}
footer .groups {
  display: flex;
  margin-left: 128px;
}
footer .group {
  margin-right: 64px;
}
footer .group * {
  display: block;
  margin-bottom: 12px;
}
footer .group-heading, footer footer span * {
  opacity: 0.6;
}
footer #publish-link {
  max-width: 200px;
  margin-left: auto;
  text-align: right;
}
footer #publish-link span {
  opacity: 0.5;
}
footer button {
  background: none;
  color: var(--text);
  padding: 2px 6px;
}
footer button::before {
  display: inline-block;
  content: "";
  margin-right: 8px;
  margin-bottom: -2px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
}
footer button#light::before {
  background: #FFFEFD;
  box-shadow: inset 0 0 0 2.5px rgba(0, 0, 0, 0.1);
}
footer button#sepia::before {
  background: #FFE6CA;
  box-shadow: inset 0 0 0 2.5px rgba(0, 0, 0, 0.1);
}
footer button#dark::before {
  background: #000000;
  box-shadow: inset 0 0 0 2.5px rgba(255, 255, 255, 0.15);
}

/*------------------------------------------------------------------------------
Code Block
*/
pre code {
  font-family: monospace;
  display: block;
  background: var(--block-background);
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 var(--block-shadow), 0 0 0 1px var(--block-border);
  margin: 36px 0 1.5em 0;
  padding: 18px 22px;
  line-height: 1.4em;
  font-size: 16px;
  overflow-x: auto;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  pre code {
    box-shadow: 0 10px 20px 0 var(--block-shadow), 0 0 0 0.5px var(--block-border);
  }
}
pre code .keyword {
  color: var(--keyword);
}
pre code .type {
  color: var(--type);
}
pre code .call {
  color: var(--call);
}
pre code .property {
  color: var(--property);
}
pre code .number {
  color: var(--number);
}
pre code .string {
  color: var(--string);
}
pre code .comment {
  color: var(--comment);
  opacity: 0.4;
}
pre code .dotAccess {
  color: var(--dot-access);
}
pre code .preprocessing {
  color: var(--preprocessing);
}

/*------------------------------------------------------------------------------
Fonts
*/
@font-face {
  font-family: "TextaAlt";
  src: url("/fonts/TextaAlt-Black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TextaAlt";
  src: url("/fonts/TextaAlt-Heavy.otf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TextaAlt";
  src: url("/fonts/TextaAlt-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TextaAlt";
  src: url("/fonts/TextaAlt-Medium.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TextaAlt";
  src: url("/fonts/TextaAlt-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TextaAlt";
  src: url("/fonts/TextaAlt-Book.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TextaAlt";
  src: url("/fonts/TextaAlt-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

/*# sourceMappingURL=styles.css.map */
