html {
  background-color: #F2F2F2;
}

div.flex-row-wrapper {
  justify-content: space-between;
}

h1 {
  margin: 5px 0;
}

h1.section {
  margin: 0 0 25px 0;
}

h3 {
  margin: 30px 0 0 5vw;
}

img {
  width: 100%;
  height: auto;
}

/*----------------Welcome-Section----------------*/

.primary {
  margin-right: 30px;
  flex-grow: 1;
}

div.newsletter {
  max-width: 400px;
  min-width: 315px;
  flex-grow: 1;
}


/*----------------Discover-Section----------------*/

a.square {
  position: relative;
  width: 32%;
  padding-top: 32%;
  height: 0;

  flex-grow: 1;
  min-width: 300px;
  margin-right: 10px;
}

.square div.card-inset {
  position: absolute;
  top: 0;
}

.square h2 {
  margin: 2px 0 20px 0;
}

.flex-row-wrapper.square {
  margin-right: -10px;
}


/*----------------News-Section----------------*/

.news div {
  width: 100%;
}

.news h1 {
  width: 50%;
}

.news p {
  width: 50%;
}
