
img {
  width: 100%;
  height: auto;
}

.card {
  width: 90vw;
}

/*----------------Welcome-Section----------------*/

#welcome .placeholder {
  display: none;
}

#welcome .sub {
  margin: var(--spacing-xs) 0 var(--spacing-s) 0;
}

#welcome div.newsletter {
  height: auto;
}


/*----------------Discover-Section----------------*/

#discover .card.square {
  position: relative;
  width: 100%;
  padding-top: 100%;
  height: 0;
}

#discover .square .card-inset {
  position: absolute;
  top: 0;
}


/*----------------News-Section----------------*/

#news a {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFF;
  overflow: hidden;
}

#news .flex-row-wrapper {
  height: 100%;
}

#news .text {
  margin-bottom: var(--spacing-s)
}

#news h1:not(.section) {
  color: #FFF;
}

#news .foreground {
  width: 100%;
}

#news .foreground img {
  display: flex;
  border-radius: var(--radius-s) var(--radius-s) 0 0;
}

#news img.background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  height: 100%
}

#news img.background {
  z-index: -1;

}
