section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5vw 0 5vw;
}

div.gradient {
  display: flex;
  flex-direction: row;
  margin: 25px 0 0 0;
  width: 90vw;
  height: 30vh;
}

div.color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 30vh;
}

img.gradient {
  width: auto;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
}

img.square {
  width: auto;
  height: 40%;
  max-width: 83px;
  margin: 0 0 0 5vw;
}

img.thirds {
  height: 30%;
  transform: rotate(-90deg);
  margin: 0 0 0 8vw;
}
