html {
  font-family: "Avenir Next";
  color: #313131;
  /*background-image: url(../Media/black.jpg);
  background-attachment: fixed;*/
}

body {
  margin: 0 0 0 0;
  background-color: #fff;
  border-radius: 25px;
  padding-bottom: 100px;
}

nav {
  margin-top: 20px;
  text-align: center;
  -webkit-user-select: none;
}

ul {
  display: inline;
  padding: 0 0 0 0;
}

li {
  display: inline;
  margin: 0 10px 0 0;
  font-weight: 500;
  font-size: 90%;
}

li:last-child {
  margin: 0;
}

#logo {
  font-weight: 900;
  font-size: 20px;
  padding: 0 0 0 1px;
  background: -webkit-linear-gradient(135deg, #FF346F, #FF743E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li#contact {
  position: fixed;
  right: 5vw;
  bottom: 20px;
  background: -webkit-linear-gradient(135deg, #FF346F, #FF743E);
  padding: 7px 12px;
  border-radius: 15px;
  z-index: 1;

  transition: all 0.4s ease;
}

a#contact {
  color: rgba(255, 255, 255, 1.5);
  font-weight: 600;
}

a {
  color: rgba(7, 7, 7, 0.5);
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-size: 37px;
  text-transform: uppercase;
  margin: 30px 0 0 5vw;

}

h2 {
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
  margin: 20px 0 0 5vw;

}

h3 {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  margin: 20px 0 0 5vw;

}

h4 {
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  margin: 20px 0 0 5vw;

}

h5 {
  font-weight: 700;
  font-size: 10px;
  text-transform: lowercase;
  margin: 20px 0 0 5vw;

}

h6 {
  font-weight: 400;
  font-size: 10px;
  text-transform: lowercase;
  margin: 20px 0 0 5vw;

}

p {
  font-weight: 400;
  font-size: 17px;
  text-align: left;
  margin: 2px 10vw 10px 0;
  opacity: .9;
}

cite {
  font-size: 35px;
  font-family: "Big Caslon", serif;
  font-style: normal;
  margin: 20px 0 20px 0;
}

img {
    pointer-events: none;
    -webkit-user-select: none;
}

::selection {
    /*color: #FF346F;
    background: rgba(255, 62, 111, 0.2);*/
    background: rgba(255, 116, 62, 0.2);
}
