/* Article CSS */

html {
	margin: 0 0 0 0;
	margin-top: 0;
	padding: 0;
	margin-top: 0;
	background-image: url(Stars.png);
	z-index: -10;
	background-color: #000;
}

body {
	font-family: Kefa, Georgia;
	font-size: 60px;   
	text-align: left;
	color: #FFFFFF;
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 0;
}

nav {
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 30%;
}

nav li {
	flex-grow: 100;
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 100px; 
	margin-bottom: 10px;
	display: inline;
}

nav a {
	margin: 10px;
	text-decoration: none;
	color: #FFFFFF;
}

#home {
	text-align: right;
	border-right: 1px solid #FFFFFF;
}

nav a:hover {
	color: #828282;
	text-shadow: 0 0 90px #FFFFFF;
}


h1 {
	font-size: 220%;
	padding-top: 660px;
	padding-left: 40px;
	z-index: 0;
	margin-top: 0;
}

p {
	margin-top: 40px 0 0 0;
	padding-left: 40px;
	padding-right: 40px;
	z-index: 0;
}

#article-img {
	display: block;
	width: 1440;
	position: absolute;
	top: 0px;
	left: 0px;
}

img {
	z-index: -1;
}