html, h1, h2, h3 {
	margin: 0;
	padding: 0;
	margin-top: 0;
}

body {
	background-color: #000; 
	font-family: Kefa, Georgia;
	font-size: 30px;   
	text-align: left;
	color: #FFFFFF;   
	width: 1440px;
	margin-top: 0px;
	margin-left: 100px;
	position: relative;
}

h1 {
	font-size: 220%;
	color: #FFFFFF;
	text-align: left;
	margin-left: auto 100px;
	margin-top: 500;
}

#article-img {
	display: block;
	z-index: -10;
	width: 1440;
	position: absolute;
	top: 0px;
	left: 0px;
}